.swiper-button-prev,
.swiper-button-next {
  color: #deff12;
  font-size: 30px;
}

span.swiper-pagination-bullet {
 
  background: white;
}

 
.mySwiper span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #deff12;
}


